<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="logo">
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo Expertos para tu hogar"><a
                href="/">Expertos en tu hogar</a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li class="dropdown"><a href="#">Contrata un Experto &#x25BE;</a>
                    <ul class="dropdown-menu">
                        <li><a href="/ubicacion">Por Ubicación</a></li>
                        <li><a href="/profesion">Por Profesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <a href="/contacto" class="contacto">Contacto</a>

    </header>

    <section class="parte1">
        <div class="profesionesdesc">
            <div class="profesiones">
                <div class="titulo">
                    <h1>Contrata un experto para tu hogar<br> Electricistas<br>Para lo que necesitas</h1>
                </div>
                <div class="descripcion">
                    <p>Muchos recurren a Expertos para tu hogar <br> para resolver rápido los problemas <br>
                        inesperados de tu casa o negocio</p>
                </div>
            </div>
        </div>
    </section>

    <section class="parte2">
        <div class="descripcionexperto">
            <img src="{{url_for('static', filename='img/ilustracion.png')}}" alt="logo gracias a Freepik"
                class="imagendescripcion">
            <p class="descripcion__parrafo">Un <strong>electricista</strong> es un profesional especializado en la
                realización de instalaciones y reparaciones relacionadas con la electricidad, con enfoque particular en
                máquinas e iluminación. Es importante no confundirlo con un liniero, que en algunos países también puede
                denominarse técnico electricista.</p>
        </div>
    </section>

    <section class="cards">
        <div class="cardsencabezado">
            <h2 class="contrataeletricista">Contrata un Electricista</h2>
            <button onclick="abrirpopup()" id="btnabrirpopup">Registrarse como Experto</button>
        </div>
        <div class="contratar__experto">
            <div id="popup">
                <div id="popupForm">
                    <h2 class="titulopopup">Agregar Experto</h2>
                    <form id="form" action="{{ url_for('submit') }}" method="POST" enctype="multipart/form-data">
                        <label for="nombre">Nombres y apellidos:</label>
                        <input type="text" id="nombre" name="nombre" required
                            placeholder="Digite sus nombres y apellidos" required>

                        <label for="telefono">Teléfono:</label>
                        <input type="number" id="telefono" name="telefono" required placeholder="Digite su telefono"
                            required>

                        <label for="imagen">Selecciona una imágen:</label>
                        <input type="file" id="imagen" name="imagen" accept="image/*" required>

                        <label for="ciudad">Ciudad:</label>
                        <select id="ciudad" name="ciudad">
                            <option value="Pereira">Pereira</option>
                            <option value="Dosquebradas">Dosquebradas</option>
                        </select>
                        <br>
                        <br>
                        <label for="descripcion">Describa su experiencia y reseña:</label>
                        <input type="text" id="descripcion" name="descripcion" required maxlength="200" minlength="50"
                            placeholder="Digite su experiencia y una breve descripción" required>

                        <button type="submit">Agregar</button>
                        <button type="button" onclick="closePopup()">Cerrar</button>
                    </form>
                </div>
            </div>

            <!-- Aquí vamos a renderizar las cards dinamicamente desde el servidor -->
            <div class="tarjetacard">
                {% for experto in expertos %}
                <div class="card">
                    <h3 class="titulocard">{{ experto['nombre'] }}</h3>
                    <div class="cuerpocard">
                        <img class="imgcard" src="{{ url_for('static', filename='uploads/' + experto['imagen']) }}"
                            alt="Imagen del experto">
                        <p>{{ experto['descripcion'] }}</p>
                    </div>
                    <div class="piecard"><a href="{{ url_for('perfil', nombre=experto['nombre']) }}"
                            target="_blank">Contratar</a></div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

    <footer>
        <p style="text-align: center; padding: 20px; background-color: #333; color: white;">&copy; 2024 Empresa. Todos
            los derechos reservados.</p>

        <!-- Iconos de Redes Sociales -->
        <div class="social-container">
            <!-- contenedor para los iconos de redes sociales-->
            <div class="Contact-text">
                <p>Contactenos: © 2024 Expertos en tu hogar</p>
                <hr>
                <div class="iconos-sociales">
                    <a href="https://facebook.com" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com" target="_blank" title="Instagram"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.whatsapp.com" target="_blank" title="WhatsApp"><i
                            class="fab fa-whatsapp"></i></a>
                </div>
    </footer>

    <script src="{{url_for('static', filename='JS/script.js')}}"></script>

</body>

</html>